In [64]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ind = pd.read_csv('Indicators.csv')

In [7]:
ind.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [20]:
ind.drop(['CountryCode', 'IndicatorCode'], axis=1, inplace=True)

In [54]:
ind2000 = ind[ind['Year']==2000].drop('Year', axis=1)
ind2000.reset_index(inplace=True, drop=True)
ind2000.set_index('CountryName', inplace=True)
ind2000.head()

                                                 IndicatorName      Value
CountryName
Arab World             Access to electricity (% of population)  79.536950
Arab World   Access to electricity, rural (% of rural popul...  65.869055
Arab World   Access to electricity, urban (% of urban popul...  91.654618
Arab World          Access to non-solid fuel (% of population)  81.565209
Arab World   Adjusted net enrolment rate, primary, both sex...  78.488968

In [120]:
ind2000[ind2000['IndicatorName'].str.contains('infant')]['IndicatorName'].unique()

array(['Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Number of infant deaths',
       'Completeness of infant death reporting (% of reported infant deaths to estimated infant deaths)'],
      dtype=object)

In [123]:
new = ind2000.pivot(columns='IndicatorName', values='Value')[[
    'Life expectancy at birth, total (years)',
    'Life expectancy at birth, female (years)',
    'Life expectancy at birth, male (years)',
    'Access to electricity (% of population)',
    'Access to electricity, rural (% of rural population)',
    'Access to electricity, urban (% of urban population)',
    'Adult literacy rate, population 15+ years, both sexes (%)',
    'Adult literacy rate, population 15+ years, female (%)',
    'Adult literacy rate, population 15+ years, male (%)',
    'Mortality rate, infant (per 1,000 live births)',
    'Mortality rate, infant, female (per 1,000 live births)',
    'Mortality rate, infant, male (per 1,000 live births)'
]]

In [125]:
new.to_csv('ind.csv')